<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="header">
            <h1><a href="..">Запись на спортивные курсы МГТУ им. Н. Э. Баумана</a></h1>
            <h4>{{ .Title }}</h4>
        </div>
        <div>
            <img src="{{ .Image }}" style="width: 200px; margin-left: 10px">
            <p>{{ .Text }}</p>
            <p style="margin-left: 8px;"> Количество мест: {{ .Capacity}} чел.</p>
            <p style="margin-left: 8px;"> Зарегистрировано: {{ .Registered }} чел.</p>
            <p style="margin-left: 8px;">{{ .Details }}</p>
            <a class="button" style="margin-left: 10px;" href="..">Домой</a>
        </div>
        <div style="flex:1"></div>
        <footer>© Konstantin Samoylov, 2023</footer>
    </body>
</html>